{{ template "header" . }}

  <div class="page-content">
    <div class="page-header">
      <h2>About</h2>
      <h4>Who is Aidan?</h4>
    </div>

    <div class="about">
      <span>
        <img alt="Aidan H Barton in the broken mirror" src="/static/files/profile.avif">
        <a href='/static/files/BARTON-CV-web-version.pdf'><p>Download CV</p></a>
      </span>

      <div id="about">
        <div class="about-nav">
          <div class="tab selected" id="profile">Profile</div>
          <div class="tab" id="artist-statement">Artist Statement</div>
        </div>

        <div class="text" id="profile-text">
          <p>Aidan is a passionate artist, with a restless drive to create across multiple disciplines.  In his search for authenticity he has gone from programmer, to philosopher, then to artist and photographer. Accumulating a unique set of skills that support one another. Aidan seeks a poetic stillness in everyday moments, with a focus on color and light, weather with a camera, a brush,  words, or code.</p>
          <p>After graduating from Virginia Tech, with a Bachelor in Computer Science and Math, he hit the road. Aidan toured the U.S.A. in his car for a few months before flying to Australia, where he lived for a year, working as a cameleer in the Outback. After returning from Australia he decided to further his education with a Master's in Philosophy of Mind and Cognitive Science at the University of Birmingham in the United Kingdom. Aidan then went to work at Engineered Arts in Falmouth, Cornwall, where he programmed humanoid robots to be more life-like. He would commute to work on the train and draw the other passengers. He spent his weekends painting around Cornwall. Slowly Aidan taught himself to draw and paint by copying the old masters, the traditional way prescribed in the Italian Renaissance. Once he built a portfolio he applied to the M.F.A oil painting program at the American College of the Mediterranean in France. There he fell in love with light.</p>
          <p>Though he calls himself an artist, he remains a software engineer. Computers were his hobby and love as a kid. That foundation has shaped his thinking and supports him in all that he has does. With each day he refines his vision and strives to blend his multidisciplinary talents.</p>
        </div>

        <div class="text" id="artist-statement-text">
          <p>Through my work I contemplate light and seek those moments stillness in the storm of being. In creating anything my work is to sincerely overcome myself and my limitations in my own way. I am interested in the passing of time, in the texture of reality, and the simple, overlooked things.</p>
        </div>
      </div>

    </div>
  </div>

{{ template "footer" . }}
