{{ define "header" }}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta content="width=device-width" name="viewport" />
    <meta name="description" content="{{ .Content }}">
    <meta property="og:url" content="https://aidanhbarton.me/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Aidan H Barton">
    <meta property="og:title" content="Aidan H Barton">
    <meta property="og:description" content="The personal website of Aidan H Barton. Artist, Engineer, Philosopher.">
    <meta property="og:image" content="https://aidanhbarton.me/static/files/profile.avif">

    <title>Aidan H. Barton</title>
    <link type="image/x-icon" rel="icon" href="/static/files/favicon.png"/>
    <link type="text/css" rel="stylesheet" href="/static/main.css"/>
    <link rel="preload" href="/static/files/fonts/EBGaramond-Regular.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/static/files/fonts/CenturyGothicPaneuropeanRegular.ttf" as="font" type="font/ttf" crossorigin>
    {{ if .Prefetch }}
        {{ range .Prefetch }}
    <link rel="preload" href="{{ .URL }}" as="{{ .As }}">
        {{ end }}
    {{ end }}
    <script defer src='/static/scripts.js'></script>

  </head>
  <body>
    {{ if not .Nav }}
    <main id="content">
    {{ else }}
    <div class="side-bar" id="side-bar-toggle">
      <div class="side-bar-content">
        <span>
          <a href="/"><img alt="Aidan H Barton logo"/></a>
        </span>
        <nav>
          <a href="/about">about</a>
          <a href="/photo">photo</a>
          <a href="/paint">paint</a>
          <a href="/home">home</a>
        </nav>
      </div>
      <div id="side-bar-control"><div></div></div>
    </div>
    <main id="content">
    {{ end }}
{{ end }}

{{ define "footer" }}
    <footer>
        <ul class="social-bar">
          <li><a href="https://www.instagram.com/aidan.h.barton/">Instagram</a></li>
          <li><a href="https://www.linkedin.com/in/aidan-barton/">LinkedIn</a></li>
        </ul>
        <div class="copywrite">aidan h barton © all rights reserved</div>
    </footer>
{{ end }}
    </main>
  </body>
</html>
