{{ template "header" . }}
  <div class="page-content">
    <div class="page-header" id="photo">
      <h2>Photography</h2>
      <h4>Everyday glimpses of poetry.</h4>
    </div>
    <div class="image-zoom" id="zoomed-image-window">
      <div class="image-zoom-content">
        <span><img class="zoomed-image" id="zoomed-image" src=""></span>
        <div><div id="zoom-exit">&#10005;</div></div>
      </div>
    </div>
    <div class="gallery" id="gallery"></div> 
  </div>
{{ template "footer" . }}
