@font-face {
  font-family: 'Century Gothic';
  src: url(/static/files/fonts/CenturyGothicPaneuropeanRegular.ttf);
  font-display: fallback;
}
@font-face {
  font-family: 'EB Garamond';
  src: url(/static/files/fonts/EBGaramond-Regular.ttf);
  font-display: fallback;
}
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  src: url(/static/files/fonts/EBGaramond-Italic.ttf);
  font-display: fallback;
}

:root {
  --white: #fffcef;
  --cream: #fffcef;
  --black: #071a1e;
  --red: #962a18;
  --light-gray: #ded0d0;

  --unit: 10px;
  --doubled-unit: calc(var(--unit) * 2);
  --font-size: 1.4rem;
  --display-margin: calc(6 * var(--unit));
  --display-margins: calc(2 * var(--display-margin));
  scrollbar-color: var(--red) var(--white);
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'EB Garamond';
  background: var(--white);
  color: var(--black);
  width: 100%;
}

main {
  position:relative;
  display: block;
  padding-left: var(--doubled-unit);
  padding-right: var(--doubled-unit);
  margin-left: 200px;
}

main:has(#cover) {
    margin: 0;
    padding: 0;
}

main:has(#gallery-ctrl) > footer{
  padding-bottom: 100px;
}

a {
  display: block;
  width: fit-content;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin:auto;
}

a:hover {
  color: var(--red);
}

h1,h2,h4 {
  font-family: 'Century Gothic';
  font-weight: normal;
  display: block;
  margin: 0;
  font-size: x-large;
}

h2 {
  text-transform: lowercase;
  color: var(--red);
  font-size: xx-large;
}

h2::before {
  content: '>';
  padding-right: var(--unit);
}

h4 {
  color: var(--black);
  font-size: large;
}

p {
  padding: var(--unit);
  font-size: large;
}

img {
  pointer-events: none;
}

footer {
  height: 150px;
  align-content: center;
  border-top: 2px dashed var(--light-gray);
  margin-top: var(--doubled-unit);

  & ul {
    overflow: hidden;
    display: block;
    list-style: none;
    width: fit-content;
    margin: auto;
    padding: 0;
  }

  & ul li {
    float: left;
    padding: var(--unit);
  }

  & ul li + li {
    padding-left: var(--doubled-unit);
  }
}

.hidden{
  display: none !important;
}

.show {
  display: block !important;
}

.logo {
  display: block;
  content: url('/static/files/logo.png');
}

.copywrite {
  margin: auto;
  width: fit-content;
  color: var(--red);
}

.page-header {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--doubled-unit);
  margin-top: var(--doubled-unit);
  width: 100%;

  & h2,h4 {
    margin: auto;
  }
}

.page-content {
  width: 100%;
  min-height: calc(100dvh - 175px);
}

.page-content:has(.image-zoom.show) > #gallery-ctrl {
  display: none;
}


/* Sidebar */
.side-bar {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  background: var(--cream);
  border-right: 2px dashed var(--light-gray);

  & .side-bar-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 200px;

    font-size: x-large;
    font-weight: normal;

    transition: width 0.5s cubic-bezier(0.3, 0.2, 0.2, 1);

    & span {
      flex: 60%;
      display: flex;

      & a {
        height: 200px;
        width: 200px;
        margin: 0;
        display: flex;

        & img {
          margin: auto;
          width: 60%;
          max-width: 64px;
          content: url('/static/files/logo.png');
        }
      }
    }

    & nav
    {
      width: 100%;
      padding-bottom: var(--display-margin);
      flex: 40%;
      display: flex;
      flex-direction: column;
      &  a
      {
        flex: 1;
        &:hover
        {
          scale: 1.1;
          color: var(--red);
          transition: scale 0.25s cubic-bezier(0.3, 0.2, 0.2, 3);
        }
      }
    }
  }

  & #side-bar-control {
    display: none;
    cursor: pointer;
  }
}

@keyframes arrow-spin {
  0% {
      transform: rotate(180deg);
  }
  100% {
      transform: rotate(0);
  }
}

/* Index */
#cover {
  color: var(--white);

  & #cover-image {
    display: block;
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--red);
    background-image: url("/static/files/cover.avif");
    background-size: cover;
    background-position: center;
  }

  & .cover-content-wrapper {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;

    & span {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
      width: 100%;

      & .heading {
        flex: 75%;

        & span {
          width: fit-content;
          margin: auto;

          & div {
            width: 96px;
            margin: auto;
          }
        }

      }

      & .button {
        flex: 25%;

        & > ::before {
          content: '\2039';
          opacity: 0;
          margin-right: 100px;
          transition: all 0.5s;
        }
        & > ::after {
          content: '\203a';
          opacity: 0;
          transform: translateX(200px);
          margin-left: 100px;
          transition: all 0.5s;
        }

        &:hover {
          color: var(--red);
          border-color: var(--red);

          & > ::before {
            opacity: 1;
            margin-right: var(--unit);
          }
          & > ::after {
            opacity: 1;
            margin-left: var(--unit);
          }
        }

        & a {
          font-weight: normal;
          font-size: calc(var(--font-size));
        }
      }
    }
  }
}

/* Home */
.page-hsplit {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--white);

  & .level-wrapper {
    flex: 1;
    border-top: var(--doubled-unit) solid var(--white);
    border-bottom: var(--doubled-unit) solid var(--white);
    background: var(--red);
  }

  & .level-wrapper + .level-wrapper {
    border-top: 0;
  }

  & #about {
    background-image: url("/static/files/portfolio/photo/_6220011.avif");
    background-size: cover;
    background-position: center 20%;
  }

  & #photo {
    background-image: url("/static/files/portfolio/photo/_7180037.avif");
    background-size: cover;
    background-position: center 70%;
  }

  & #paint {
    background-image: url("/static/files/portfolio/paint/mfa/_7260042.avif");
    background-size: cover;
    background-position: center 50%;
  }

  & .level {
    height: 100%;
    display: flex;
    pointer-events: none;

    & a {
      position: relative;
      z-index: 11;
      pointer-events: all;
      height: 100%;
      width: 100%;
      align-content: center;
      text-align: center;

      & h1 {
        font-weight: normal;
        text-transform: lowercase;
      }

      &:hover > h1 {
        font-weight: bold;
        color: white;
      }
    }
  }
}

@keyframes slide-in {
  0% {
      transform: translateY(75px);
      opacity: 0%;
  }
  100% {
      transform: translateY(0);
      opacity: 100%;
  }
}

/* About */
.about {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;

  & span {
    flex: 33%;
    max-width: 33%;
    height: fit-content;
    margin-left: auto;

    & div {
      border-radius: 0 50px 50px 0;
      width: 80%;
      max-width: 300px;
      overflow: hidden;
      position: relative;
      background: var(--light-gray);
      border: 2px dashed var(--light-gray);

      & .form {
        margin-top: 125%;
        /* 4:3 */
      }

      & img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  & div#about {
    flex: 60%;
    max-width: 60%;
    position: relative;
    margin-bottom: 50px;
    margin-left: var(--doubled-unit);

    &:has(.selected#profile) > #profile-text {
      display: block;
    }

    &:has(.selected#artist-statement) > #artist-statement-text {
      display: block;
    }

    & .tab {
      float: left;
      font-size: var(--font-size);
      font-weight: bold;
      height: 100%;
      align-content: center;
      padding-left: var(--doubled-unit);
      padding-right: var(--doubled-unit);
      cursor: pointer;
      border: 2px dashed var(--white);
      border-radius: 10px 10px;
      font-weight: normal;
      border: 2px dashed var(--light-gray);
      & + .tab {
        margin-left: var(--unit);
      }

      &.selected {
        background: var(--white);
        color: var(--red);
        padding-top: 5px;
        transition: padding-top .1s linear; 
      }
    }

    & .about-nav {
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 50px;
      z-index: 11;
    }

    & .text {
      display: none;
      position: relative;
      top: 48px;
      border: 2px dashed var(--light-gray);
      z-index: 10;
      padding: var(--doubled-unit);
      border-radius: 0px 10px 0px 10px;

      & p {
        margin:0;
      }

      & p + p {
        margin-top: var(--doubled-unit);
      }
    }

    & a {
      position: relative;
      top: calc(48px + var(--doubled-unit));
      width: 100%;

      border: 2px dashed var(--light-gray);
      border-radius: 20px 0px 20px 0px;
      margin-bottom: var(--doubled-unit);

      &:hover {
        border-color: var(--red);
        background: var(--red);
        color: var(--white);
      }

      & p {
        text-align: center;
      }
    }
  }
}

/* Paint */
#paint {
  & .paint-title {
    width: 100%;
    height:fit-content;

      & .dropdown {
        display: block;
        position: relative;

        & span  {
          display: flex;

          &::after {
            content: '\039E';
            font-family: sans-serif;
            display: inline-flex;
            height:fit-content;
            margin: auto;
            margin-left: var(--doubled-unit);
            margin-right: 0;
            width: var(--doubled-unit);
          }

          & div {
            display: none;

            &.selected {
              display: flex;
            }

            & h1 {
              float: left;
              margin: auto;
            }

            & h4 {
              float: left;
              margin: auto;
              padding: 0;
              padding-left: var(--unit);

              &::before {
                content: "(";
              }
              &::after {
                content: ")";
              }
            }
          }
        }

        & .dropdown-content {
          display: flex;
          flex-direction: row;
          height: 0;
          padding-left: var(--unit);
          padding-right: var(--unit);
          overflow: hidden;
          transition: all 0.25s ease-in;

          font-size: large;

          & a {
            display: block;
            cursor: pointer;
            font-size: larger;
          }
        }

        &:hover {
          & > span::after {
            content: '|';
            color: var(--red);
          }

          & > .dropdown-content {
          height: max-content;
          padding: var(--unit);

          border: 2px dashed var(--red);
          border-radius: 0 10px 10px 10px;
        }
      }
    }
  }
}

/* Gallaries */
.gallery
{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding-bottom: var(--unit);

  & .column {
    flex: 1;

    & .image {
      display: block;
      width: 100%;
      position: relative;
      animation: 0.25s ease-in 0s 1 slide-in;

      & a
      {
        display: block;
        border: var(--unit) solid #ffffff00;

        &:hover
        {
          cursor: pointer;
          border: var(--unit) solid var(--red);
        }
      }
      & img
      {
        display: block;
        width: 100%;
      }
    }
  }
}

/* Gal CTRL */
#gallery-ctrl {
  display: flex;
  width: calc(100% - 200px - (2*var(--doubled-unit)));
  font-size: x-large;
  padding-top: var(--doubled-unit);
  padding-bottom: var(--doubled-unit);
  position: fixed;
  bottom: var(--doubled-unit);
  z-index: 100;
  background: var(--red);
  color: var(--white);
  border-radius: 25px 25px 25px 25px;
  animation: 0.5s cubic-bezier(0.0, 0.0, 0.75, 1) 0s 1 slide-in;

  & label {
    margin-left: var(--doubled-unit);
    margin-right: var(--unit);
    flex: 25%;
    max-width: 25%;
    text-transform: lowercase;
    border-right: 2px dashed var(--white);
    text-align: center;
  }

  & select {
    margin-right: var(--display-margin);
    font-family: 'EB Garamond';
    font-size: large;
    flex-grow: 1;
    background: var(--red);
    color: var(--white);
    border: 2px dashed var(--white);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    & option {
      background: var(--white);
      color: var(--black);
      &:hover {
        background: var(--red);
        border: 0px;
        color: var(--white);
      }
    }
  }
}

/* Zoom */
.image-zoom {
  display: none;
  background: var(--white);
  animation: 0.25s ease-in 0s 1 slide-in;

  & .image-zoom-content {
    display: flex;
    max-width: 800px;
    flex-direction: column-reverse;
    margin: auto;

    & span { 
      flex: 80%;
      height: 100%;
      & img {
        background: var(--red);
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 600px;
      }
    }

    & div {
      flex: 5%;
      & #zoom-exit {
        margin-top: var(--unit);
        margin-bottom: var(--unit);
        color: var(--red);
        font-weight: bold;
        font-size: xx-large;
        cursor: pointer;
        width: fit-content;
        float: right;
      }
    }
  }
}

.central-page-text {
    height: 50dvh;
    width: 100%;
    display: block;
    align-content: center;
    & p, h4 {
        width: fit-content;
        margin: auto;
        padding-left: var(--display-margin);
        padding-right: var(--display-margin);
        font-size: x-large;
    }

    & h4 {
      font-weight: bold;
    }
}

#loader {
  width: 75px;
  aspect-ratio: 1;
  display: grid;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}
#loader:before,
#loader:after {
  content: "";
  grid-area: 1/1;
  width: 35px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px var(--red) inset;
  filter: drop-shadow(40px 40px 0 var(--red));
  animation: l8 2s infinite alternate;
}
#loader:after {
  margin: 0 0 0 auto;
  filter: drop-shadow(-40px 40px 0 var(--red));
  animation-delay: -1s;
}
@keyframes l8 {
  0%,10%   {border-radius:0}
  30%,40%  {border-radius:50% 0}
  60%,70%  {border-radius:50%}
  90%,100% {border-radius:0 50%}
}

/* Responsive */
@media only screen and (max-width: 1000px) {
  /* About */
  .about {
    & span {
      flex: 80%;
      max-width: 80%;
    }

    & div#about {
      flex: 100%;
      max-width: 100%;
      margin-top: var(--doubled-unit);
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 700px) {
  :root {
    --unit: 5px;
    --font-size: 1.2rem;
  }

  .hex-stamp {
    transform: translateX(-50%);
    left: 50%;
    top: 25%;
  }

  .signature
  {
    width: calc(28 * var(--unit));
  }

  main {
    margin-right: var(--doubled-unit);
    margin-left: var(--doubled-unit);
    padding: 0;
    padding-top: calc(var(--unit) + var(--display-margins));
  }

  main:has(#gallery-ctrl) > footer{
    padding-bottom: 75px;
  }

  body:has(.side-bar.opened) > main .page-content #gallery-ctrl {
    display: none;
  }

  /* Sidebar */

  .side-bar {
    height: max-content;
    flex-direction: column;
    width: 100%;
    transition: color 0.4s cubic-bezier(0.3, 0.2, 0.2, 1.4);
    border-right: 0;
    border-bottom: 2px dashed var(--light-gray);

    &.opened {

      & .side-bar-content {
        height: calc(100dvh - var(--display-margins));
        width: 100%;
        border-bottom: 2px dashed var(--red);
      }

      & #side-bar-control {
        & div {
          content: unset;

          &::after {
            content: "- - -";
            font-weight: bold;
          }
        }
      }
    }

    & .side-bar-content {
      width: 100%;
      height: 0;
      transition: height 0.5s cubic-bezier(0.2, 0.75, 0.75, 1);

      & nav {
        font-size: xx-large;

        & a:hover {
          scale: 1;
          transition: none;
        }
      }

      & span {
        flex: 40%;

        a {
          margin: auto;
          & img {
            width: 30%;
            max-width: 64px;
          }
        }
      }
    }

    & #side-bar-control {
      display: flex;
      width: 100%;
      height: var(--display-margins);
      padding: 0;
      position: relative;
      color: var(--red);

      & div {
        all: unset;

        &::after {
          align-items: center;
          display: flex;
          content: '\039E';
          font-family: sans-serif;
          font-size: x-large;
          margin: auto;
          position: absolute;
          right: calc(8*var(--unit));
          top: 0;
          bottom: 0;
        }
      }
    }
  }

  .page-content {
    width: 100%;
    min-height: calc(100dvh - 225px);
  }

  /* home */
  .page-hsplit {
    height: calc(100dvh - var(--display-margins));

    & .level-wrapper a:hover > h1 {
      font-weight: normal;
    }
  }

  /* Paint */
  #paint .paint-title .dropdown .dropdown-content {
    flex-direction: column;

    & a {
      margin: 0;
    }
  }

  .gallery {
    max-width: 400px;
  }

  #gallery-ctrl {
    width: calc(100% - (2*var(--doubled-unit)));
    padding-top: var(--display-margin);
    padding-bottom: var(--display-margin);
  }
}

@media (prefers-color-scheme: dark) {
    :root {
        scrollbar-color: var(--red) var(--black);
        --light-gray: var(--red);
    }

    body {
      padding: 0px;
      margin: 0px;
      font-family: 'EB Garamond';
      color: var(--white);
      background: var(--black);
      width: 100%;
    }

    .side-bar {
        background: var(--black);
        color: var(--white);
    }
    .page-hsplit {
        & .level-wrapper {
            border-color: var(--black);
        }
    }

  .about div#about .tab.selected {
    background: var(--black);
  }

  .image-zoom {
    background: var(--black);
  }
}
