:root {
    --white: #fdfaf0;
    --black: #36334d;
    --red: #962a18;
    --dark-gray: #8c8a85;
    --light-gray: #e5e3dc;
    --yellow: #ffc600;

    --unit: 10px;
    --doubled-unit: calc(var(--unit) * 2);
    --font-size: 1.4rem;
    --display-margin: calc(6 * var(--unit));
    --display-margins: calc(2 * var(--display-margin));
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'EB Garamond';
  background: var(--white);
  color: var(--black);
  width: 100%;
}

main {
  position:relative;
  display: block;
  padding-left: var(--display-margin);
  padding-right: var(--display-margin);
  margin-left: 0;
  margin-right: calc(10 * var(--unit));

  transition: margin 0.5s cubic-bezier(0.3, 0.2, 0.2, 1);

  &.shift-content {
    margin-left: calc(10 * var(--unit));
    margin-right: 0;
  }

  &:has(.page-hsplit) {
    padding-right: 0;
    margin-right: var(--doubled-unit);
  }
}

a {
  display: block;
  width: fit-content;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin:auto;
}

a:hover {
  color: var(--red);
}

h1,h2,h4 {
  font-weight: normal;
  display: block;
  margin: 0;
}

h2 {
  font-size: calc(2.5 * var(--font-size));
  text-transform: lowercase;
  color: var(--red);
}

h2::before {
  content: '>';
  font-size: calc(2 * var(--font-size));
  padding-right: var(--unit);
}

h4 {
  padding-top: var(--unit);
  padding-bottom: var(--unit);
  padding-left: var(--unit);
  font-size: calc(1.25 * var(--font-size));
  color: var(--black);
}

p {
  font-size: var(--font-size);
  padding: var(--unit);
}

img {
  pointer-events: none;
}

footer {
  height: 150px;
  align-content: center;
  border-top: 2px dashed var(--light-gray);
  margin-top: var(--doubled-unit);

  & ul {
    overflow: hidden;
    display: block;
    height: var(--font-size);
    list-style: none;
    width: fit-content;
    margin: auto;
    padding: 0;
  }

  & ul li {
    float: left;
  }

  & ul li + li {
    padding-left: var(--unit);
  }
}

.logo {
  display: block;
  content: url('/static/files/logo.png');
}

.copywrite {
  margin: auto;
  width: fit-content;
  color: var(--red);
}

.page-header {
  overflow: hidden;
  justify-content: center;
  display: block;
  align-content: center;
  margin-bottom: var(--doubled-unit);
  width: 100%;
  position: relative;
  border-bottom: 2px dashed var(--light-gray);
}

.page-content {
  width: 100%;
}

/* Sidebar */
.side-bar {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;

  background: var(--red);
  color: var(--white);

  transition: color 0.4s cubic-bezier(0.3, 0.2, 0.2, 1.4);

  &.opened {
    background: var(--light-gray);
    color: var(--black);

    & .side-bar-content {
      width: calc(10 * var(--unit));
    }

    & .side-bar-control div {
      content: url('/static/files/close.png');
      animation: 0.75s cubic-bezier(0.3, 0.2, 0.2, 1.3) 0s 1 arrow-spin;
    }
  }

  & .side-bar-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 0;

    font-size: var(--font-size);
    font-weight: normal;

    transition: width 0.5s cubic-bezier(0.3, 0.2, 0.2, 1);

    & span {
      flex: 60%;
      position: relative;
      padding: var(--unit);

      & a {
        width: 100%;
        & img {
          margin: auto;
          display: block;
          width: 100%;
          max-width: 96px;
          content: url('/static/files/logo.png');
        }
      }
    }

    & nav
    {
      width: 100%;
      flex-grow: 1;
      &  a
      {
        padding-top: var(--font-size);

        &:hover
        {
          scale: 1.1;
          color: var(--red);
          transition: scale 0.25s cubic-bezier(0.3, 0.2, 0.2, 3);
        }
      }
    }
  }

  & .side-bar-control {
    height: 100%;
    width: var(--doubled-unit);
    cursor: pointer;
    position: relative;
    padding-left: var(--unit);
    padding-right: var(--unit);

    & div {
      content: url('/static/files/open.png');
      display: block;
      width: var(--doubled-unit);
      height: fit-content;
      position: absolute;
      bottom: var(--display-margin);
    }
  }
}

@keyframes arrow-spin {
  0% {
      transform: rotate(180deg);
  }
  100% {
      transform: rotate(0);
  }
}

/* Index */
#cover {
  color: var(--white);

  & #cover-image {
    display: block;
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--red);
    background-image: url("/static/files/cover.jpg");
    background-size: cover;
    background-position: center;
  }

  & .cover-content-wrapper {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;

    & span {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
      width: 100%;

      & .heading {
        flex: 75%;

        & span {
          width: fit-content;
          margin: auto;

          & div {
            width: 96px;
            margin: auto;
          }
        }

      }

      & .button {
        flex: 25%;

        & > ::before {
          content: '\2039';
          opacity: 0;
          margin-right: 100px;
          transition: all 0.5s;
        }
        & > ::after {
          content: '\203a';
          opacity: 0;
          transform: translateX(200px);
          margin-left: 100px;
          transition: all 0.5s;
        }

        &:hover {
          color: var(--red);
          border-color: var(--red);

          & > ::before {
            opacity: 1;
            margin-right: var(--unit);
          }
          & > ::after {
            opacity: 1;
            margin-left: var(--unit);
          }
        }

        & a {
          font-weight: normal;
          font-size: calc(var(--font-size));
        }
      }
    }
  }
}

/* Home */
.page-hsplit {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--white);

  & .level-wrapper {
    position: relative;
    flex: 1;
    transition: flex 0.25s ease-in;
    overflow:hidden;
    border-top: var(--doubled-unit) solid var(--white);
    border-bottom: var(--doubled-unit) solid var(--white);
    background: var(--red);
  }

  & .level-wrapper + .level-wrapper {
    border-top: 0;
  }

  & .level {
    height: 100%;
    pointer-events: none;

    &.about {
      background-image: url("/static/files/portfolio/photo/_6220011.jpg");
      background-size: cover;
      background-position: center 20%;
    }

    &.photo {
      background-image: url("/static/files/portfolio/photo/_7180037.jpg");
      background-size: cover;
      background-position: center 70%;
    }

    &.paint {
      background-image: url("/static/files/portfolio/paint/mfa/_7260042.jpg");
      background-size: cover;
      background-position: center 50%;
    }

    & a {
      position: relative;
      z-index: 11;
      align-content: center;
      text-align: center;
      height: 100%;
      width: 400px;
      pointer-events: all;

      & h1 {
        font-weight: normal;
      }

      &:hover > h1 {
        font-weight: bold;
      }

      &:hover {
        color: var(--white);
      }
    }
  }

  & .level-wrapper:has(a:hover) {
    flex: 5;
    border-left: var(--unit) dashed;
    border-right: var(--unit) dashed;
  }
}

@keyframes slide-in {
  0% {
      transform: translateY(75px);
      opacity: 0%;
  }
  100% {
      transform: translateY(0);
      opacity: 100%;
  }
}

/* About */
.profile {
  display: flex;
  flex-wrap: wrap;

  & .profile-photo {
    flex: 33%;
    max-width: 33%;
    height: fit-content;
    border-radius: 0 50px 50px 0;
  }

  & .profile-text {
    flex: 60%;
    max-width: 60%;
    position: relative;
    margin-bottom: 50px;
    margin-left: var(--doubled-unit);

    & .tab {
      float: left;
      font-size: var(--font-size);
      font-weight: bold;
      height: 100%;
      align-content: center;
      padding-left: var(--doubled-unit);
      padding-right: var(--doubled-unit);
      cursor: pointer;
      border: 2px dashed var(--white);
      border-radius: 10px 10px;
      font-weight: normal;

      &.selected {
        border: 2px dashed var(--light-gray);
        background: var(--white);
        color: var(--red);
        padding-top: 5px;
        font-weight: bold;
        transition: padding-top .1s linear; 
      }
    }

    & .profile-cv {
      position: relative;
      margin: 0;
      margin-bottom: var(--doubled-unit);
      width: calc(100% - var(--doubled-unit));
      height: 100px;

      border: 2px dashed var(--light-gray);
      border-radius: 10px 10px 10px 10px;

      &:hover {
        border-color: var(--red);
      }

      & p {
        position: absolute;
        width: fit-content;
        height: fit-content;
        margin: auto;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
      }
    }

    & .profile-nav {
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 50px;
      z-index: 11;
    }

    & .text-block {
      position: relative;
      top: 48px;
      border: 2px dashed var(--light-gray);
      z-index: 10;
      padding: var(--doubled-unit);
      border-radius: 0px 10px 0px 10px;

      & p {
        margin:0;
      }

      & p + p {
        margin-top: var(--doubled-unit);
      }
    }
  }
}

/* Paint */
#paint {
  & .paint-title {
    width: 100%;
    height:fit-content;

      & .dropdown {
        display: block;
        position: relative;

        & span  {
          display: flex;

          &::after {
            content: '\039E';
            font-family: sans-serif;
            display: inline-flex;
            height:fit-content;
            margin: auto;
            margin-left: var(--doubled-unit);
            margin-right: 0;
            width: var(--doubled-unit);
          }

          & div {
            display: none;

            &.selected {
              display: flex;
            }

            & h1 {
              float: left;
              margin: auto;
            }

            & h4 {
              float: left;
              margin: auto;
              padding: 0;
              padding-left: var(--unit);

              &::before {
                content: "(";
              }
              &::after {
                content: ")";
              }
            }
          }
        }

        & .dropdown-content {
          display: flex;
          flex-direction: row;
          height: 0;
          padding-left: var(--unit);
          padding-right: var(--unit);
          overflow: hidden;
          transition: all 0.25s ease-in;

          font-size: large;

          & a {
            display: block;
            cursor: pointer;
            font-size: larger;
          }
        }

        &:hover {
          & > span::after {
            content: '|';
            color: var(--red);
          }

          & > .dropdown-content {
          height: max-content;
          padding: var(--unit);

          border: 2px dashed var(--red);
          border-radius: 0 10px 10px 10px;
        }
      }
    }
  }
}

/* Gallaries */
.gallery
{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: var(--unit);

  & .column {
    flex: 25%;
    max-width: 25%;

    & .image {
      display: block;
      width: 100%;
      position: relative;
      animation: 0.25s ease-in 0s 1 slide-in;

      & a
      {
        display: block;
        border: var(--unit) solid #ffffff00;

        &:hover
        {
          cursor: pointer;
          border: var(--unit) solid var(--red);
        }
      }
      & img
      {
        display: block;
        width: 100%;
      }
    }
  }
}

/* Zoom */
.image-zoom {
  display: block;
  flex-direction: row;
  background: var(--white);
  width: 100dvw;
  height: 100dvh;
  visibility: hidden;

  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;

  & .image-zoom-content {
    display: flex;
    height: 100%;
    width: 100%;

    & span { 
      flex: 95%;
      height: 100%;
      & img {
        background: var(--red);
        display: block;
        height: 100%;
        margin: auto;
      }
    }

    & div {
      flex: 5%;
      & a.exit {
        padding: var(--unit);
        font-size: 2rem;
        cursor: pointer;
      }
    }
  }
}

/* Responsive */
@media only screen and (max-width: 600px) {
  :root {
    --unit: 5px;
    --font-size: 1.2rem;
  }

  .hex-stamp {
    transform: translateX(-50%);
    left: 50%;
    top: 25%;
  }

  .signature
  {
    width: calc(28 * var(--unit));
  }

  main {
    margin-right: var(--doubled-unit);
    margin-left: var(--doubled-unit);
    padding: 0;
    padding-top: calc(var(--display-margins));

    &:has(.page-hsplit) {
        margin-right: var(--doubled-unit);
    }
  }

  /* Sidebar */
  .side-bar {
    height: max-content;
    flex-direction: column;
    width: 100%;

    &.opened {
      & .side-bar-content {
        height: calc(100dvh - var(--display-margins));
        width: 100%;
        border-bottom: 2px dashed var(--dark-gray);
      }

      & .side-bar-control {
        & div {
          content: unset;
          &::after {
            content: "- - -";
            color: var(--red);
            font-weight: bold;
          }
        }
      }
    }

    & .side-bar-content {
      width: 100%;
      height: 0;
      transition: height 0.5s cubic-bezier(0.2, 0.75, 0.75, 1);

      & nav {
        font-size: xx-large;
        & a:hover {
          scale: 1;
          transition: none;
        }
      }

      & span {
        flex: 40%;

        a {
            position: absolute;
            bottom: var(--display-margin);
          & img {
            width: 30%;
            max-width: unset;
          }
        }
      }
    }

    & .side-bar-control {
      width: 100%;
      height: var(--display-margins);
      padding: 0;

      & div {
        all: unset;

        &::after {
          align-items: center;
          display: flex;
          content: '\039E';
          font-family: sans-serif;
          font-size: x-large;
          color: var(--white);
          margin: auto;
          position: absolute;
          right: calc(8*var(--unit));
          top: 0;
          bottom: 0;
        }
      }
    }
  }

  /* home */
  .page-hsplit {
    height: calc(100dvh - var(--display-margins));

    & .level-wrapper a:hover > h1 {
      font-weight: normal;
    }

    & .level-wrapper:has(a:hover) {
      flex: 1;
      border-left: 0;
      border-right: 0;
    }
  }

  /* About */
  .profile {
    & .profile-photo {
      flex: 100%;
      max-width: 100%;
    }

    & .profile-text {
      flex: 100%;
      max-width: 100%;
      margin-top: var(--doubled-unit);
      margin-left: 0;
    }
  }

  /* Paint */
  #paint .paint-title .dropdown .dropdown-content {
    flex-direction: column;

    & a {
      margin: 0;
    }
  }

  /* Zoom */
.image-zoom {
    .image-zoom-content {
      flex-direction: column;
      margin: var(--doubled-unit);
      margin-top: calc(var(--doubled-unit) + var(--display-margins));
      height: 100%;
      width: unset;

      & span  {
        flex: 80%;

        & img {
          height: unset;
          width: calc(100% - var(--unit));
        }
      }

      & div {
        flex: 20%;
        & a.exit {
          margin: auto;
        }
      }
    }
  }
}
